In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
jan_2019 = pd.read_csv('Jan_2019_ontime.csv')
jan_2019.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN

In [3]:
jan_2019.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                float64
DIVERTED                 float64
DISTANCE                 float64
Unnamed: 21              float64
dtype: object

In [4]:
jan_2019['DEP_DEL15'].value_counts()

0.0    468703
1.0     98927
Name: DEP_DEL15, dtype: int64

In [6]:
jan_2019['CANCELLED'].value_counts()

0.0    567259
1.0     16726
Name: CANCELLED, dtype: int64

In [7]:
jan_2019['DIVERTED'].value_counts()

0.0    582689
1.0      1296
Name: DIVERTED, dtype: int64

In [8]:
jan_2019['ARR_DEL15'].value_counts()

0.0    460741
1.0    105222
Name: ARR_DEL15, dtype: int64

In [9]:
jan_2019['ORIGIN'].value_counts()

ATL    31155
ORD    26216
DFW    23063
CLT    19100
DEN    18507
       ...
PPG       11
HGR       10
OWB        9
ADK        9
OGD        8
Name: ORIGIN, Length: 346, dtype: int64

In [10]:
jan_2019['ORIGIN'].describe()

count     583985
unique       346
top          ATL
freq       31155
Name: ORIGIN, dtype: object

In [11]:
jan_2019['DEST'].value_counts()

ATL    31151
ORD    26212
DFW    23078
CLT    19105
DEN    18498
       ...
OGS       11
HGR       10
OWB        9
ADK        9
OGD        8
Name: DEST, Length: 346, dtype: int64

In [12]:
jan_2019_Ontime = jan_2019[jan_2019['DEP_DEL15']== 0.0]
jan_2019_Ontime.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN

In [13]:
jan_2019_Ontime['DEP_DEL15'].value_counts()

0.0    468703
Name: DEP_DEL15, dtype: int64

In [14]:
remove_n = 368703
drop_indices = np.random.choice(jan_2019_Ontime.index, remove_n, replace=False)
jan_2019_Ontime_R = jan_2019_Ontime.drop(drop_indices)
jan_2019_Ontime_R.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
5,1,2,9E,20363,9E,N927EV,3285,11267,1126702,DAY,...,MSP,853.0,0.0,0900-0959,953.0,0.0,0.0,0.0,574.0,NaN
6,1,2,9E,20363,9E,N915XJ,3286,12448,1244807,JAN,...,ATL,1553.0,0.0,1500-1559,1832.0,0.0,0.0,0.0,341.0,NaN
8,1,2,9E,20363,9E,N337PQ,3288,12451,1245102,JAX,...,LGA,1037.0,0.0,1000-1059,1239.0,0.0,0.0,0.0,833.0,NaN
12,1,2,9E,20363,9E,N800AY,3291,11433,1143302,DTW,...,DAY,1552.0,0.0,1500-1559,1738.0,1.0,0.0,0.0,166.0,NaN
19,1,2,9E,20363,9E,N304PQ,3297,11433,1143302,DTW,...,CVG,817.0,0.0,0800-0859,932.0,0.0,0.0,0.0,229.0,NaN

In [15]:
jan_2019_Ontime_R['DEP_DEL15'].value_counts()

0.0    100000
Name: DEP_DEL15, dtype: int64

In [16]:
jan_2019_Delayed = jan_2019[jan_2019['DEP_DEL15']==1.0]
jan_2019_Delayed.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
16,1,2,9E,20363,9E,N232PQ,3295,11433,1143302,DTW,...,EWR,1353.0,1.0,1200-1259,1521.0,1.0,0.0,0.0,488.0,NaN
55,1,2,9E,20363,9E,N905XJ,3328,11193,1119302,CVG,...,MSP,817.0,1.0,0700-0759,900.0,1.0,0.0,0.0,596.0,NaN
66,1,2,9E,20363,9E,N833AY,3338,13277,1327702,MGM,...,ATL,1411.0,1.0,1100-1159,1558.0,1.0,0.0,0.0,147.0,NaN
75,1,2,9E,20363,9E,N905XJ,3344,13487,1348702,MSP,...,OMA,939.0,1.0,0800-0859,1043.0,0.0,0.0,0.0,282.0,NaN
84,1,2,9E,20363,9E,N833AY,3355,10397,1039707,ATL,...,ILM,1701.0,1.0,1600-1659,1814.0,0.0,0.0,0.0,377.0,NaN

In [17]:
jan_2019_Delayed['DEP_DEL15'].value_counts()

1.0    98927
Name: DEP_DEL15, dtype: int64

In [18]:
jan_2019_Balanced = pd.concat([jan_2019_Ontime_R,jan_2019_Delayed])
jan_2019_Balanced.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
5,1,2,9E,20363,9E,N927EV,3285,11267,1126702,DAY,...,MSP,853.0,0.0,0900-0959,953.0,0.0,0.0,0.0,574.0,NaN
6,1,2,9E,20363,9E,N915XJ,3286,12448,1244807,JAN,...,ATL,1553.0,0.0,1500-1559,1832.0,0.0,0.0,0.0,341.0,NaN
8,1,2,9E,20363,9E,N337PQ,3288,12451,1245102,JAX,...,LGA,1037.0,0.0,1000-1059,1239.0,0.0,0.0,0.0,833.0,NaN
12,1,2,9E,20363,9E,N800AY,3291,11433,1143302,DTW,...,DAY,1552.0,0.0,1500-1559,1738.0,1.0,0.0,0.0,166.0,NaN
19,1,2,9E,20363,9E,N304PQ,3297,11433,1143302,DTW,...,CVG,817.0,0.0,0800-0859,932.0,0.0,0.0,0.0,229.0,NaN

In [19]:
jan_2019_Balanced['DEP_DEL15'].value_counts()

0.0    100000
1.0     98927
Name: DEP_DEL15, dtype: int64

In [20]:
jan_2019.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                float64
DIVERTED                 float64
DISTANCE                 float64
Unnamed: 21              float64
dtype: object

In [21]:
jan_2019_Balanced['Unnamed: 21'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Unnamed: 21, dtype: float64

In [22]:
jan_2019_Balanced_Dropped=jan_2019_Balanced.drop(columns={'OP_UNIQUE_CARRIER','TAIL_NUM','OP_CARRIER_FL_NUM','ORIGIN_AIRPORT_SEQ_ID','DEST_AIRPORT_SEQ_ID','DEP_TIME_BLK','Unnamed: 21'})

jan_2019_Balanced_Dropped.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST,DEP_TIME,DEP_DEL15,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
5,1,2,20363,9E,11267,DAY,13487,MSP,853.0,0.0,953.0,0.0,0.0,0.0,574.0
6,1,2,20363,9E,12448,JAN,10397,ATL,1553.0,0.0,1832.0,0.0,0.0,0.0,341.0
8,1,2,20363,9E,12451,JAX,12953,LGA,1037.0,0.0,1239.0,0.0,0.0,0.0,833.0
12,1,2,20363,9E,11433,DTW,11267,DAY,1552.0,0.0,1738.0,1.0,0.0,0.0,166.0
19,1,2,20363,9E,11433,DTW,11193,CVG,817.0,0.0,932.0,0.0,0.0,0.0,229.0

In [23]:
y = jan_2019_Balanced_Dropped['DEP_DEL15']
X = jan_2019_Balanced_Dropped.drop(columns="DEP_DEL15",axis=1)
X.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST,DEP_TIME,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
5,1,2,20363,9E,11267,DAY,13487,MSP,853.0,953.0,0.0,0.0,0.0,574.0
6,1,2,20363,9E,12448,JAN,10397,ATL,1553.0,1832.0,0.0,0.0,0.0,341.0
8,1,2,20363,9E,12451,JAX,12953,LGA,1037.0,1239.0,0.0,0.0,0.0,833.0
12,1,2,20363,9E,11433,DTW,11267,DAY,1552.0,1738.0,1.0,0.0,0.0,166.0
19,1,2,20363,9E,11433,DTW,11193,CVG,817.0,932.0,0.0,0.0,0.0,229.0

In [24]:
names = X.columns.to_list()
names

['DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'OP_CARRIER_AIRLINE_ID',
 'OP_CARRIER',
 'ORIGIN_AIRPORT_ID',
 'ORIGIN',
 'DEST_AIRPORT_ID',
 'DEST',
 'DEP_TIME',
 'ARR_TIME',
 'ARR_DEL15',
 'CANCELLED',
 'DIVERTED',
 'DISTANCE']

In [25]:
cat = X.select_dtypes(include="object").columns.to_list()
cat

['OP_CARRIER', 'ORIGIN', 'DEST']

In [26]:
num=  X.select_dtypes(exclude="object").columns.to_list()
num

['DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'OP_CARRIER_AIRLINE_ID',
 'ORIGIN_AIRPORT_ID',
 'DEST_AIRPORT_ID',
 'DEP_TIME',
 'ARR_TIME',
 'ARR_DEL15',
 'CANCELLED',
 'DIVERTED',
 'DISTANCE']

In [113]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [85]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)

GradientBoostingClassifier

In [119]:
gbc = GradientBoostingClassifier(n_estimators=200, max_depth=7, verbose=1)

In [120]:
cat_pip = Pipeline([
    ('imputer',SimpleImputer(strategy='constant',fill_value='missing')),
    ("one_hot",OneHotEncoder(sparse=False,handle_unknown='ignore'))
])
num_pip = Pipeline([
    ('imputer',SimpleImputer(strategy='median'))
])

data_processing = ColumnTransformer([
    ('cat',cat_pip,cat),
    ('num',num_pip,num)
])

In [121]:
model = Pipeline([
    ('processing', data_processing),
    ('classify', gbc)
])

In [122]:
model.fit(X_train, y_train)

      Iter       Train Loss   Remaining Time
         1           1.2749           93.29m
         2           1.1838           89.76m
         3           1.1085           87.41m
         4           1.0455           85.91m
         5           0.9924           85.29m
         6           0.9474           87.34m
         7           0.9091           89.91m
         8           0.8762           91.78m
         9           0.8481           92.11m
        10           0.8240           91.23m
        20           0.7045           85.09m
        30           0.6699           79.07m
        40           0.6545           72.76m
        50           0.6428           66.12m
        60           0.6341           60.03m
        70           0.6278           53.89m
        80           0.6217           48.47m
        90           0.6163           43.26m
       100           0.6114           38.48m
       200           0.5742            0.00s

Pipeline(memory=None,
         steps=[('processing',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('cat',
                                                  Pipeline(memory=None,
                                                           steps=[('imputer',
                                                                   SimpleImputer(add_indicator=False,
                                                                                 copy=True,
                                                                                 fill_value='missing',
                                                                                 missing_values=nan,
                                                                                 strategy='constant',
                                                                                 verbose=0)),
                                                                  ('one_hot',
                                                                   OneHotEncoder(categorical_fe...
                                            learning_rate=0.1, loss='deviance',
                                            max_depth=7, max_features=None,
                                            max_leaf_nodes=None,
                                            min_impurity_decrease=0.0,
                                            min_impurity_split=None,
                                            min_samples_leaf=1,
                                            min_samples_split=2,
                                            min_weight_fraction_leaf=0.0,
                                            n_estimators=200,
                                            n_iter_no_change=None,
                                            presort='auto', random_state=None,
                                            subsample=1.0, tol=0.0001,
                                            validation_fraction=0.1, verbose=1,
                                            warm_start=False))],
         verbose=False)

In [128]:
print('Train Acc: %.3f' % model.score(X_train, y_train))
print('Test Acc: %.3f' % model.score(X_test, y_test))

Train Acc: 0.885
Test Acc: 0.876

In [131]:
#model.save("gbc.h5")
#model.write().save("gbc.h5")

AttributeError: 'Pipeline' object has no attribute 'save'

RandomForestClassifier - Default

In [124]:
rf_1 = RandomForestClassifier()

In [125]:
model_rf = Pipeline([
    ('processing', data_processing),
    ('classify', rf_1)
])

In [126]:
model_rf.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('processing',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('cat',
                                                  Pipeline(memory=None,
                                                           steps=[('imputer',
                                                                   SimpleImputer(add_indicator=False,
                                                                                 copy=True,
                                                                                 fill_value='missing',
                                                                                 missing_values=nan,
                                                                                 strategy='constant',
                                                                                 verbose=0)),
                                                                  ('one_hot',
                                                                   OneHotEncoder(categorical_fe...
                 RandomForestClassifier(bootstrap=True, class_weight=None,
                                        criterion='gini', max_depth=None,
                                        max_features='auto',
                                        max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=10, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [127]:
print('Train Acc: %.3f' % model_rf.score(X_train, y_train))
print('Test Acc: %.3f' % model_rf.score(X_test, y_test))

Train Acc: 0.989
Test Acc: 0.865

RandomForestClassifier - Params

In [108]:
rf_2 = RandomForestClassifier(n_estimators=200, max_depth=7, verbose=2, n_jobs=2)

In [ ]:
rf_2 = RandomForestClassifier()

In [ ]:
model_rf_2 = Pipeline([
    ('processing', data_processing),
    ('classify', rf_2)
])

In [ ]:
model_rf_2.fit(X_train, y_train)

In [ ]:
print('Train Acc: %.3f' % model_rf_2.score(X_train, y_train))
print('Test Acc: %.3f' % model_rf_2.score(X_test, y_test))